@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto" ;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 10% 90%;
}

.create_new {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.projects {
    background-color: green;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 210px 210px; */
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 20px;
}

.project {
    background-color: pink;
    height: 300px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 10px;
    /* height: 100%;
    width: 100%; */
}

.project_name {
    text-align: center;
}

.todo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    /* font-size: 10px; */
}

.todo_title {
    font-weight: bold;
    font-size: 12px;
}

.todo_dueDate {
    font-size: 10px;
    margin-right: 0;
}

todo_display {
    display: flex;
    flex-direction: column;
}

div_project
div_title,
div_description,
div_dueDate,
div_note,
div_priority,
const div_complete {
    display: flex;
    flex-direction: column;
}

